# Ignore node_modules folder
node_modules/
exported_images/
# Ignore log files
*.jpg
*.png
*.log
*.pt
# Ignore environment variable files
.env
*.csv
# Ignore build output
dist/
build/
vlm_model/
# Ignore system files
.DS_Store
Thumbs.db

# Ignore virtual environment
venv/

# Ignore machine learning models or large files
scifive_impression/
dataset/